form {
    display: flex;
    flex-direction: column;
    width: 30%;
    button{
        width: 30%;
    }
}
.chkbx {
    
    div{
        display: inline;
        width: 300px;
        img{
            width: 25px;
            height: 25px;
        }
    }
    
}